html 
    head 
        link(rel="stylesheet", href="/style.css")
        title Vamos começar 
    body 
        main.bg-gray-900.flex.justify-center.items-center.h-full
            div(class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16")
                h1(class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, harum?
                p(class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, quo aut consectetur ipsa praesentium numquam vitae repellat, repellendus nam magnam debitis minima vel deserunt adipisci architecto explicabo magni saepe ab!
                
                a( href="/login" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800") Vamos começar
                    

