html
  head
    link(rel="stylesheet", href="/style.css")
    title= title
  body
    main.h-full.flex
      div(class="bg-[#111827] w-1/2 h-full flex justify-center items-center")
        div(class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 ")
          div(class="p-6 space-y-4 md:space-y-6 sm:p-8")
            h1(class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white") Entre na sua conta
            form(action="/users", method="post", class="space-y-4 md:space-y-6")
              div 
                label(for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") Seu email
                input(type="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required)
              div 
                label(for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") Sua senha
                input(type="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required)
              div.flex.items-center.justify-between
                div.flex.items-start
                  div.flex.items-center.h-5
                    input(aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required)
                  div.ml-3.text-sm
                    label(for="remember" class="text-gray-500 dark:text-gray-300") Remember me
                a(href="#" class="text-sm font-medium text-[#2563EB] hover:underline dark:text-primary-500") Forgot password? 
              button(type="submit" class="w-full text-white cursor-pointer bg-[#2563EB] hover:bg-[#2564ebd0] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800") Entrar
              p(class="text-sm font-light text-gray-500 dark:text-gray-400") Ainda não tem uma conta? 
                |
                a(href="/register" class="font-medium text-[#2563EB] hover:underline dark:text-primary-500") Criar conta


      div(class="bg-[#2563EB] w-1/2 h-full flex justify-center items-center")
        div.w-120.text-white
          h2.text-4xl.mb-4 Explorando Novas Perspectivas na Era Digital
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae felis nec turpis sollicitudin luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam viverra.