html
  head
    link(rel="stylesheet", href="/style.css")
    title= title
  body
    main.h-full.flex
      div(class="bg-[#111827] w-1/2 h-full")
        

      div(class="bg-[#252143] w-1/2 h-full")
